<%- include header.ejs -%>
<%- include navbar.ejs -%>  
      <form class="form-inline my-2 my-lg-0" method="POST">
        <input
          class="form-control mr-sm-2"
          type="search"
          id="tofind"
          name="tofind"
          placeholder="Keresés"
          aria-label="Keresés"
        />
        <button class="btn btn-outline-themed my-2 my-sm-0" href="/poems/find" type="submit">
          Keresés
        </button>
      </form>
    </nav>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <br />
          <h1 class="display-3">Versek</h1>
        </div>
      </section>

      <div class="album py-5">
        <div class="container">
          <div class="row">
            
            <% poems.forEach(function(poem){ %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img
                  class="card-img-top"
                  src="img/placeholder-1.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                    <p class="card-text">
                        <h3><%= poem.title %></h3>
                      </p>
                  <p class="card-text">
                    <%= poem.text %>
                  </p>
                  <p class="card-text">
                    <%= poem._poet.name %>
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  ></div>
                </div>
              </div>
            </div>
            <% }); %>
      </div>
    </main>
    <%- include footer.ejs-%>