<%- include header.ejs -%>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">
            <%= (typeof poem !== "undefined") ? "Szerkesztés" : "Hozzáadás" %></h1>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <p></p>
            <form class="form-signin" method="POST">
              <label for="input" class="sr-only">Poem</label>
              <input
                value="<%= (typeof poem !== 'undefined') ? poem.title : '' %>"
                type="text"
                name="title"
                id="title"
                class="form-control"
                placeholder="Cím"
                required
                autofocus
              />
              <br />
              <label for="input" class="sr-only">pic</label>
              <input
              value="<%= (typeof poem !== 'undefined') ? poem.picturelink : '' %>"
                type="text"
                name="piclink"
                id="piclink"
                class="form-control"
                placeholder="Kép link"
                required
              />
              <br />

              <div class="input-group">
                <!--div class="input-group-prepend">
                  <span class="input-group-text">Mű helye</span>
                </div-->
                <textarea
                  placeholder="A műved"
                  class="form-control"
                  name="text"
                  id="text"
                  aria-label="A műved"
                  required
                ><%=  (typeof poem !== 'undefined') ? poem.text : '' %></textarea>
              </div>
              <br />
              <div class="btn-group">
                <input type="submit" class="btn btn-warning" value="Kész!" href="/home"/>
                &nbsp; &nbsp; &nbsp;
                <a href="/home">
                  <button
                    class="btn btn-lg btn-themed btn-block"
                    type="button">
                    Mégse
                  </button>
                </a>
              </div>
              <br />
            </form>
          </div>
        </div>
      </div>
      <!-- /container -->
    </main>
    <br />
    <%- include footer.ejs -%>
